@model GameStore.Domain.Entities.Сounterpartys

@{
    ViewBag.Title = "Редактирование контрагента";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}
<script type="text/javascript">

    $(function () {
        // This will make every element with the class "date-picker" into a DatePicker element
        $('.date-picker').datepicker();
    })
</script>
<div class="panel">
    <div class="panel-heading">
        <h3>Редактирование контрагента «8»</h3>
    </div>

    @using (Html.BeginForm("Save", "Сounterparty"))
    {
        <div class="panel-body">
            @Html.HiddenFor(m => m.id_counterparty)
            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                if (property.PropertyName != "id_counterparty")
                {
            <div class="form-group">
                <label>@(property.DisplayName ?? property.PropertyName)</label>

                @if (property.ModelType.Name == "String")
                {

            <div class="editor-field">
                @Html.TextBox(property.PropertyName, null,
                new { @class = "form-control" })
                @*@Html.ValidationMessageFor(model => model.name)*@
            </div>
                }
                @if (property.ModelType.Name == "DateTime")
                {

                    <div class="editor-field">
                        @Html.EditorFor(model => model.dateDogEGAIS, new { @class = "form-control" })
                
                    </div>
                }
                @Html.ValidationMessage(property.PropertyName)
            </div>
                }
            }
        </div>
        <div class="panel-footer">
            <input type="submit" value="Сохранить" class="btn btn-primary" />
            @Html.ActionLink("Отменить изменения и вернуться к списку", "Index", null, new
            {
                @class = "btn btn-default"
            })
        </div>
    }
</div>